.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.AllSpot_main-conainter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 70px;
    padding-left: 50px;
    /* background-image: url("../AHelper/fishing-pic3.jpeg"); */
    background-color: rgb(221, 223, 224);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    /* z-index: 10; */
    /* opacity: .2; */
}

.search_result-top-page{
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(221, 223, 224);
        padding-top: 20px;
        border-bottom: rgb(152, 150, 150) solid;
}

.search_form-bar {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

#create_new-spot-btn{
    height: 2rem;
    width: 7rem;
    background: white;
    border-radius: 25px;
    font-weight: bold;
}

#header-search {
    height: 25px;
    width: 300px;
    margin: 0;
    border-radius: 10px 0px 0px 10px;
}

#search_btnn {
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
