.user_main-fish-spot-conainter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 70px;
    padding-left: 50px;
    background-color: rgb(103 106 107);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.owner-Spot_container {
    height: 600px;
    width: 400px;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
}

.owner-Spot_inner-container-1 {
    height: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px 40px 10px 10px;
    background: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px 0 #c1c1e4cc;
}

.owner-Spot_inner-container-2 {
    width: 400px;
    height: 80px;
    overflow-y: auto;
    overflow: hidden;
    background: white;
    border-radius: 10px 10px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 50px;
    box-shadow: 0 8px 16px 0 #c1c1e4cc;
}

.user_edit-delete_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    bottom: 20px;
}




#log_out__btn {
    background-color: rgb(228, 17, 17);
    color: white;
    box-shadow: 0 8px 16px 0 #c1c1e4cc;

}

.user_spot__description {
    display: flex;
    padding: 5px;
    width: 92%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
