.user-saved-spot-main-container {
    background-color: rgb(224, 233, 236);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.user-saved-spot-inner-container {
    height: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    background: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px 0 #c1c1e4cc;
    margin: 50px;
    padding-top: 5px;
}

.user-saved-spot-main-container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.saved_spot-name {
    font-weight: bold;
    font-size: 20px;
}

#user-saved-spot_image-id {
    height: 350px;
    width: 350px;
    border-radius: 40px;
    position: relative;
    top: 4px;
}

#user-saved-spot_image-id_for-heart-icon {
    position: relative;
    left: 100px;
    top: 30px;
}


/* .user-saved-spot-inner-container{
    margin-left: 55px;
        border-radius: 20px;
        height: 440px;
        width: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
} */
