.user_edit-delete_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.owner__spot-container{
    display: flex;
    margin-left: 40px;
}

.owner__single-spot-container{
    margin-left: 40px;
}

#log_out__btn{
    background-color: rgb(228, 17, 17);
        color: white;
}
