.delete-form_container{
height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.delete-title_text{
    font-size: 22px;
    font-weight: bold;
}

.delete_confirmation-text{
    font-weight: bold;
}

.confirmation-button{
    border: none;
        width: 120px;
        height: 35px;
        border-radius: 40px;
        cursor: pointer;
}

.delete_yes-confirmation-button{
background: red;
color: white;
}

.delete_cancel-button{
    background: gray;
}
