.All-review-main-container {
    /* margin-top: 40px; */
    height: 410px;
    width: 650px;
    padding: 5px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 40px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: rgb(52, 206, 13) solid 4px; */
}

.All-review-main-container::-webkit-scrollbar {
    width: 10px;
    height: 50px;
}

.All-review-main-container::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Handle on hover */
.All-review-main-container::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #8070d4;
    background-clip: content-box;
}

.All-review-main-container::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 25px;
}

.single_review-container{
    display: flex;
    flex-direction: column-reverse;
}

.single_review {
    margin-bottom: 20px;
    border-bottom: solid 4px gray;
    padding-bottom: 9px;
}

#add_review-btn {
    width: 15rem;
    height: 3rem;
    background-color: rgb(168, 126, 241);
    border: 2px solid black;
    color: white;
    margin-bottom: 20px;
    border-radius: 25px;
    font-size: 20px;
}

.review_text-display{
    font-weight: bold;
    margin-top: 20px;
}

.review_text-display >span{
    color: red;
}

.edit-delete-review-btn {
    width: 60px;
    height: 25px;
    margin-top: 8px;
    margin-right: 15px;
    border: none;
    background-color: rgb(228, 17, 17);
    color: white;
    border-radius: 40px;
}

.fa-star {
    color: rgb(193, 193, 80);
}

.fa-fish-fins {
    color: rgb(193, 193, 80);
}

.submiit_on-date-review {
    color: rgb(163, 156, 156);
}

.margin {
    margin-top: 7px;
    margin-bottom: 7px;
}
