.All-Spot_container {
    height: 500px;
    max-width: 400px;
    max-height: 800px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 #c1c1e4cc;
}

.All-Spot_container>h2 {
    margin: 0;
}

#all-spot_images {
    height: 350px;
    width: 400px;
    border-radius: 40px;
    margin-bottom: 0px;
        padding-bottom: 0px;
    /* box-shadow: 12px 12px 60px 1px rgba(250, 250, 251, 0.2); */
}

.All-Spot_container>span {
    font-size: 20px;
}


.all_spot-description {
    /* display: flex; */
    /* border-radius: 5px; */
    /* width: 100%; */
    margin-left: 15px;
    font-size: 17px;
    color: rgb(132, 9, 54);
}
