.-single_container {
    padding-bottom: 100px;
    display: flex;
    background-color: gray;
    margin-top: 0px;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.-single_container-left {
    display: flex;
    height: 875px;
    width: 700px;
    margin-right: 25px;
    margin-top: 40px;
    background-color: white;
    border-radius: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.h1_spot-title {
    margin-bottom: 0;
    display: block;
    width: 95%;
    height: 120px;
    word-wrap: break-word;
    text-align: center;
    /* border: blue solid 2px; */
}

.spot-details_address {
    font-size: 20px;
    width: 95%;
    height: 90px;
    text-align: center;
    /* border: red solid 4px; */
}

.detail_spot-description {
    width: 95%;
    height: 90px;
    font-size: 17px;
    color: rgb(132, 9, 54);
    overflow: auto;
    text-align: center;
    /* border: blue solid 2px; */
}

.-single_container-right {
    /* background-color: rgb(164, 158, 158); */
    /* border: red solid 4px; */
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 25px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}



#single_spot-images {
    height: 600px;
    width: 700px;
    position: relative;
        top: 4px;
    border-radius: 0px 0px 40px 40px;

}

.back_arrow_container {
    margin-left: 40px;
    margin-top: 20px;
    position: absolute;
    z-index: 9;
}

.back_arrow {

    font-size: 35px;
    width: 60px;
    margin-top: 10px;
    cursor: pointer;
    background: rgb(11, 11, 11);
    border: none;
    color: white;
    border-radius: 70px;
}

.go-back_div {
    padding-left: 7px;
}


#average_star-rating {
    color: gray;
}


.loading_problem {
    padding-left: 30px;
}
