.-single_container {
    padding-bottom: 100px;
    display: flex;
}
.-single_container-left{
border: rgb(53, 68, 196) solid 4px;
margin-right: 20px;
margin-left: 20px;
}



.-single_container-right{
     padding-top: 20px;
}


#single_spot-images {
    height: 600px;
    width: 700px;
}
.All-review-container{
    border: red solid 4px;
    height: 300px;
    width: 600px;
    padding: 5px;
overflow-y: scroll;
}


.-single_container{
    padding-bottom: 100px;
}
