/* TODO Add site wide styles */
body,html {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
body{
    font-family: Domine, Georgia, Times, Times New Roman, serif;
}
button {
    cursor: pointer;
}
 button:focus {
     outline-color: transparent;
     outline-style: solid;
     box-shadow: 0 0 0 4px #b3b3db;

 }
/* :root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    height: 100%;
    width: 95%;
} */

/* #id {
    display: grid;
} */

/* body {
    display: grid;
} */
