.hidden {
    display: none;
}

.home-knb-icon {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    border-bottom: 2px solid lightgrey;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0;
}

.login-n-signout {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 5px;
    z-index: 6;
}

.login-n-signout-button {

    display: flex;
    align-items: center;
    height: 30px;
    width: 70px;
    border-radius: 15px;
    background-color: rgb(61, 114, 205);
    color: white;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    top: 100px;
    right: 107px;
    padding: 40px;
    border-radius: 4%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    z-index: 6;
}


.go-to-main-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 200px;
    height: 40px; */
}

.user-dropdown-icon-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 90px;
    height: 40px;
    border-radius: 176px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: box-shadow 0.2 ease;
}

.create-new-spot-profileBtn {
    display: flex;
    align-items: center;
}


.searchBar {
    box-sizing: border-box;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 40px;
    width: 60%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: lightgray;
}

.searchInput {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    height: 100%;
    width: 100%;
    padding: 0;
    outline: line;
}

/* .result-list {
    margin-top: 140px;
    background-color: white;
    box-shadow: 0 0 8px gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    z-index: 9;

} */


.logged-in_user-profile-btn {
    display: flex;
        flex-direction: column;
        align-items: center;
}

#log_out__btn{
    height: 30px;
    width: 80px;
    background: gray;
    color: white;
    border-radius: 50px;
    margin-top: 10px;
}
