.hidden {
    display: none;
}

.home-knb-icon {
    display: flex;
    /* width: 100%; */
    justify-content: space-evenly;
    border-bottom: 2px solid lightgrey;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0;
    align-items: center;
}

.fa-person-hiking{
    color: rgb(53, 12, 236);
}

.fish-profile{
    color: rgb(236, 64, 12);
}

.login-n-signout {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 5px;
    /* z-index: 6; */
}

.login-n-signout-button {

    display: flex;
    align-items: center;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(61, 114, 205);
    color: white;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.profile-dropdown {
    position: absolute;
    top: 100px;
    right: 107px;
    padding: 40px;
    border-radius: 4%;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    z-index: 10;
    border: rgb(236, 5, 5) solid 4px;
    font-size: 20px;
}


.go-to-main-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 200px;
    height: 40px; */
}

.user-dropdown-icon-bar-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 110px;
    height: 43px;
    border-radius: 176px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: box-shadow 0.2 ease;
    border: rgb(61, 114, 205) solid 4px;
}

.create-new-spot-profileBtn {
    display: flex;
    align-items: center;
}


.searchBar {
    box-sizing: border-box;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 40px;
    width: 60%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: lightgray;
}

.searchInput {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    height: 100%;
    width: 100%;
    padding: 0;
    outline: line;
}

/* .result-list {
    margin-top: 140px;
    background-color: white;
    box-shadow: 0 0 8px gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    z-index: 9;

} */


.logged-in_user-profile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log_out__btn {
    height: 40px;
    width: 100px;
    background: rgb(255, 0, 0);
    color: white;
    border-radius: 50px;
    margin-top: 10px;
    font-weight: bold;
        font-size: 17px;
}
