.main_login-in-container{
    display: flex;
}

.login-container {
    display: flex;
    height: 24rem;
    width: 28rem;
    padding: 2%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    /* position: relative; */
    border: red solid 4px;
    border-radius: 20px;
    font-size: 20px;
}

.login-container > p {
   font-size: 22px;
   font-weight: bold;
   margin: 0;
   margin-bottom: 29px;
}

.demo-user-btn-container {
    text-decoration: underline;
}



.login-button-container {
    padding: 2%;
        display: flex;
        justify-content: center;
}

#login_12-btn {
    width: 10rem;
    height: 2.4rem;
        background-color: rgb(61, 114, 205);
        color: white;
        border: 2px solid black;
        border-radius: 15PX;
        cursor: pointer;
        margin-top: 5px;
        font-weight: bold;
        font-size: 20px;
}
.input_user {
    background: rgb(211, 233, 239);
    width: 20rem;
    height: 1.8rem;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 15px;
}

.demo-user-btn-container{
    display: flex;
    justify-content: center;
    color: rgb(31, 138, 138);
}

.err-msgs {
    color: red;
    position: absolute;
    top: 4rem;
}

.top-err-msgs{
    color: red;
        position: absolute;
        top: 3.1rem;
}

.login_class{
    position: relative;
    margin-top: 5px;
}
