.login-container {
    display: flex;
    height: 17rem;
    width: 25rem;
    padding: 2%;
    align-items: center;
    flex-direction: column;
}

.demo-user-btn-container {
    text-decoration: underline;
}


.login-button-container {
    padding: 2%;
        display: flex;
        justify-content: center;
}

#login_12-btn {
    width: 21rem;
    height: 3rem;
    background-color: red;
    border: 2px solid black;
    color: white;
}
.input_user {
    background: rgb(211, 233, 239);
    width: 20rem;
}

.demo-user-btn-container{
    display: flex;
    justify-content: center;
    color: rgb(31, 138, 138);
}
